/* Wlogout Color Scheme */

@define-color window_bg rgba(30, 30, 46, 0.1);
@define-color button_bg rgba(30, 30, 46, 0.9);
@define-color button_fg #cdd6f4;
@define-color button_focus_bg rgba(40, 40, 60, 0.9);
@define-color button_hover_bg rgba(50, 50, 80, 0.95);
